 body{
    background-image:url(A0C93726-749C-E48E-E9F8-CA695BC297C0.jpg);
     background-repeat: no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;
}

h1{
    text-align: center;
    color: white;
}

label{
    color: white;
    font-size: larger;
}
#form{
    text-align: center;
    
}




#result {
  display: block !important;
  color: white;
  font-size: 16px;
  background:rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
}