 body{
    background-image:url(A0C93726-749C-E48E-E9F8-CA695BC297C0.jpg);
     background-repeat: no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;
}

/* h1 { 
    display: block;
    color:rgb(255, 255, 255) ;
text-align: center;
font-style: initial;
}

 label{color: white;}

input{
    border-radius: 10px;
    background-color: rgb(66, 66, 135);
    color: rgb(255, 255, 255);
    font-size: large;
    display: block; margin: 0 auto;
}

 #buttons{
width: 100px;
      padding: 43px;
      font-size: 16px;
      cursor: pointer;
      border:none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
        transition: background-color 0.3s;} 
        
 #main{display: flex;
    justify-content: space-around; 
        align-items: flex-start; 
        width:fit-content;
        height:auto;
    background-color:rgba(255,255,255, 0.3);
    border-radius: 15px;
}

      */




h1{
    text-align: center;
    color: white;
}

label{
    color: white;
    font-size: larger;
}
#form{
    text-align: center;
}



#computer{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  padding-right: 3px; /* מקום לחץ */
  font-size: 16px;
  border: 1px solid #ccc;
  background: none;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 16,0 8,10"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
#result {
  display: block !important;
  color: black !important;
  font-size: 16px;
  background: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}